{% extends "base.html" %}
{% block contact %}


<br>
<br>
<br>
<div class="single_recomment">
    <div class="container">
        <div class=" row">
            <div class="col-md-12">
                <div class="clg-post  college-1 ">
                    <h2>{{ college.name | safe}}</h2>
                    <p class="text-muted">{{ college.location }}</p>
                    <p>jj</p>
                    
                </div>


            </div>

        </div>

    </div>

</div>














{% endblock  %}