{% extends "base.html" %}
{% block contact %}

     <!--start about section-->
<br>
<br>     
<br>
<br>
<div class="container">
    <div class="row d-flex justify-content-between g-4">
      
      <div class="col-lg-4 d-flex justify-content-center aboutimg">
        <img src="/static/images/about pic2.jpg"  class="img-fluid  shadow" alt="about-img">

      </div>
      <div class="col-lg-8 d-flex flex-column">
        <h2 class="head1 fs-1 fst-italic">
         About
         <hr />
        </h2>
        <p>Our mission is to empower students with the knowledge, skills, and values necessary for success in a rapidly changing world. We believe in:            </p>
<ul>

          <li>Academic Excellence:</li>
        <li>Innovation: </li>
      <li>Diversity and Inclusion:</li>
    <li>Community Engagement: </li>
  <li> Personal Growth: </li>
        </ul>
      </div>
      
    </div>

</div>
</section>
    <!--end about section-->


    

  
  {% endblock  %}
   