{% extends "base.html" %}
{% block contact %}







<br>
<br>
<br>
<!-------------------------------------- NOT USER this page-------------------------------------->
<div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="heading text-center">
            <h2>RECOMMENDATION SYSTEM </h2>
            <p >Build up Your Future With Us</p>
            </div>
        </div>

    </div> 

</div>

	<!-- Main Content -->
	<!-- <div class="container">
	
					
					<div class="row">
                        <div class="col-lg-12 ">
                        <form >
                          
                            <label for="exampleInputEmail1">Choose an Degree </label>
                          <select> -->
                            <!-- option tag starts -->

                                <!-- <option>Choose an Degree</option> -->
                                <option value="eng" >Fss pre-eng</option><!--value={{student.greQ}}-->
                                <!-- <option value="med">Fcs pre-med</option>
                                <option value="comp">ICS COMP</option>
                                <option value="stat">ICS STAT</option>
                                <option value="eco">ICS ECO</option>
                                <option value="icom">ICOM</option> -->
                            <!-- option tag ends -->
                            </select>
                          <br>
                            <!-- <div class="form-group">
                              <label for="exampleInputEmail1">write Degree</label>
                              <input type="text" class="form-control" placeholder="write degree" name="degree">
                             
                            </div> -->
                            <br>
                            <!-- <div class="form-group">
                              <label for="exampleInputPassword1">Enter number</label>
                              <input type="text" class="form-control" placeholder="number">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Find college</button>
                          </form>
				</div> -->


            </div>
	</div>
    
		
	<!-- Footer -->
	







{% endblock  %}